@import '../../variables';

.about__container{
    position: relative;
    height: 55rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 4rem;
    h2{
        position: absolute;
        top: 20%;
        left: 8rem;
    }
    .about__text{
        width: 50%;
        position: absolute;
        top: 27%;
        left: 8rem;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        color: $white;
    }
    .info__container{
        height: 50%;
        width: 100%;
    }
}