@import '../../_variables.scss';

.container{
    height: 110rem;
    background: linear-gradient(300deg,$blue 20%,$purple 80%);
    padding-left: 4rem;
    padding-right: 3.5rem;
    overflow: hidden;
    h1{
        position: relative;
        left: calc(25vw - 4rem);
        top: 14rem;
        width: 30rem;
    }
    .home__description{
        position: absolute;
        left: 25vw;
        top: 34rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 400;
        color: rgba(221,237,253,0.7);
        font-size: 1rem;
    }
    .home__work__popout{
        position: absolute;
        top: 15rem;
        
        div{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 0.35rem;
            width: 2rem;
            height: 2rem;
            @include transition-properties(width,height);
            @include transition-duration(500ms);
            @include transition-timing(ease);
            &:hover{
                width: 7rem;
                height: 7rem;
                span{
                    width: 3rem;
                    height:3rem;
                    font-size: 2rem;
                    .popout__icon{
                        opacity: 1;
                    }
                }
                + p{
                    opacity: 0;
                    width: 7rem;
                }
            }
            span{
                font-size: 0;
                width: 1rem;
                height: 1rem;
                background-color: $white;
                @include flex__center;
                @include transition-properties(width,height, font-size);
                @include transition-duration(500ms);
                @include transition-timing(ease);
                .popout__icon{
                    color: $purple;
                    opacity: 0;
                    @include transition-properties(opacity);
                    @include transition-duration(500ms);
                    @include transition-timing(ease);
                }
            }
        }
        p{
            opacity: 1;
            width: 2rem;
            margin-top: 1rem;
            font-size: 1.25rem;
            color: rgba(221,237,253,0.7);
            font-weight: 300;
            line-height: 1.4rem;
            letter-spacing: 0.2rem;
            @include transition-properties(width,opacity);
            @include transition-duration(250ms);
            @include transition-timing(ease);
        }
    }
    .year__est{
        position: relative;
        top: 12rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
        span{
            font-size: 1.25rem;
            color: rgba(221,237,253,0.7);
            font-style: italic;
        }
    }
    .image__ctr{
        width: 25rem;
        height: 19rem;
        background-color: $black;
        position: absolute;
        left: 25vw;
        top: 61.5rem;
        box-shadow: $image-box-shadow;
        img{
            width: 25rem;
            height: 19rem;
            opacity: 40%;
        }
        .byb__title{
            position: absolute;
            left: 2rem;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.3rem;
            line-height: 3rem;
            top: 5rem;
        }
        .core__mission__ctr{
            width: 13.75rem;
            height: 5.625rem;
            background: $purple;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            bottom: 10%;
            right: -4rem;
            flex-flow: row nowrap;
            box-shadow: $image-box-shadow;
            @include transition-properties(height);
            @include transition-duration(500ms);
            @include transition-timing(ease);

            &:hover{
                height: 15.25rem;
                .byb__txt{
                    transform:translate3d(0px,-110%,0px);                    
                }
                .byb__icon{
                    opacity: 0;
                }
            }
            .byb__txt{
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 2rem;
                @include transition-properties(transform);
                @include transition-duration(400ms);
                @include transition-timing(ease);
            }
            .byb__icon{
                font-size: 1.75rem;
                opacity: 1;
                filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
                @include transition-properties(opacity);
                @include transition-duration(200ms);
                @include transition-timing(ease);
            }
        }
    }
    .line{
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: $white;
        transform-style: preserve-3d;
        will-change: transform;
        transform:translate3d(0px,-100%,0px);
        &.one{animation: slideDown 1750ms 0ms normal infinite cubic-bezier(0.9,0.34,0.29,1.08);}
        &.two{animation: slideDown 2000ms 1750ms normal infinite cubic-bezier(0.9,0.34,0.29,1.08);}
        &.three{animation: slideDown 1800ms 0ms normal infinite cubic-bezier(0.9,0.34,0.29,1.08);}

        
    }
    .home__topLeft__line{
        overflow: hidden;
        position:relative;
        top: 7rem;
        width: 2px;
        height: 30%;
        //background-color: $white;
        margin: 0;
    }
    .home__bottomLeft__line{
        overflow: hidden;
        position:relative;
        top: 17rem;
        width: 2px;
        height: 30%;
        //background-color: $white;
        margin: 0;
    }
    .scroll__txt{
        font-size: 1.25rem;
        position: absolute;
        top: 35rem;
        right: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        transform: rotateZ(90deg);
        margin: 0;
    }
    .home__right__line{
        overflow: hidden;
        position:absolute;
        top: 40rem;
        right:3.5rem;
        width: 2px;
        height: 137%;
        //background-color: $white;
        margin: 0;
    }
    
}

// 24.5 rem is a good top breakpoint for the lines on the left