@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;500;700;800;900&family=Fira+Sans:wght@100;300;400;500;800;900&display=swap");
/* ========= Variables ========= */
.skills__container {
  height: 45rem;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.skills__container .left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__container .left .skills__content {
  margin-left: 2rem;
}

.skills__container .left .skills__content .scroll__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__container .left .skills__content .scroll__line h4 {
  font-weight: 500;
  color: #9639d1;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.skills__container .left .skills__content .scroll__line .line__ctr {
  overflow: hidden;
  margin-left: 1rem;
}

.skills__container .left .skills__content .scroll__line .line__ctr .line {
  margin-left: 1rem;
  height: 1px;
  width: 8rem;
  background: #9639d1;
  border: 1px solid #9639d1;
  -webkit-box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5px 1px rgba(0, 0, 0, 0.5);
  -webkit-animation: slideLeft 1500ms 0ms normal infinite cubic-bezier(0.9, 0.34, 0.29, 1.08);
          animation: slideLeft 1500ms 0ms normal infinite cubic-bezier(0.9, 0.34, 0.29, 1.08);
}

.skills__container .left .skills__content .header {
  margin: 1rem 0;
}

.skills__container .left .skills__content p {
  margin-top: 2.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  opacity: 0.8;
}

.skills__container .right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__container .right .carousel__container {
  position: relative;
  top: 0.5rem;
  width: 45rem;
  overflow: hidden;
  overflow-x: auto;
  height: 14rem;
}

.skills__container .right .carousel__container::before {
  content: '';
  height: 100%;
  width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #191a1c), to(transparent));
  background: linear-gradient(to right, #191a1c 10%, transparent 100%);
}

.skills__container .right .carousel__container::after {
  content: '';
  height: 100%;
  width: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #191a1c), to(transparent));
  background: linear-gradient(to left, #191a1c 10%, transparent 100%);
}

.skills__container .right .carousel__container .swiper-wrapper {
  width: 40rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills__container .right .carousel__container .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  width: 9rem;
  height: 14rem;
  position: relative;
  bottom: -1rem;
}

.skills__container .right .carousel__container .skill .circle {
  position: relative;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background: black;
  border: 1px solid #3da5c7;
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.75);
  -webkit-filter: drop-shadow(0px 5px 10px rgba(61, 165, 199, 0.25));
          filter: drop-shadow(0px 5px 10px rgba(61, 165, 199, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__container .right .carousel__container .skill .circle .skill__name {
  color: #3da5c7;
  font-weight: 300;
  font-size: 1.5rem;
}

.skills__container .right .carousel__container .skill .circle .icon__circle {
  position: absolute;
  left: 50%;
  top: -50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: #3da5c7;
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.75);
}
/*# sourceMappingURL=skills.css.map */