@import '../../variables';

.footer__container{
    font-family: $primary-font;
    position: relative;
    height: 30rem;
    background: linear-gradient(300deg,$blue 20%,$purple 80%);
    padding: 4rem 4rem 3rem 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .left{
        width:50%;
        p{
            line-height: 1.5rem;
            letter-spacing: 0.1rem;
            margin-top: 5rem;
            opacity: 0.5;
            font-size: 1rem;
            font-style: italic;
        }
    }
    .right{
        width:50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:  space-between;
        align-items:flex-end;
        position:relative;
        .footer__contact__container{
            .get__in__touch{
                position:relative;
                top: 0.25rem;
                font-size: 1.25rem;
                font-weight: 500;
                letter-spacing: 0.15rem;
                margin-bottom: 4rem;
            }
            .email{
                opacity: 0.75;
                margin-bottom: 0.75rem;
                font-size: 1rem;
                letter-spacing: 0.15rem;
            }
            .phone__number{
                opacity: 0.75;
                font-size: 1rem;
                letter-spacing: 0.15rem;
            }
        }
        .social__media__icons{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            gap: 2rem;
            position: absolute;
            bottom:0;
            right:0;
            .icon{
                position:relative;
                background: $gray;
                height: 2.75rem;
                width: 2.75rem;
                border-radius: 50px;
                box-shadow: 0 3px 3px rgba(0,0,0,0.25);
                transition: width 350ms ease;
                &:hover{
                    width:8rem;
                    .logo{
                        left: 20%
                    }
                    &#gh::before,&#yt::before,&#ln::before, &#ig::before{
                        font-size: 1rem;
                        opacity: 1;
                    }
                }
                &#gh::before,&#yt::before,&#ln::before, &#ig::before{
                    //display:none;
                    opacity:0;
                    font-size: 0rem;
                    color:$white;
                    position:absolute;
                    left: 60%;
                    top:55%;
                    color: white;
                    transform: translate(-50%,-50%);
                    @include transition-properties(opacity,font-size);
                    @include transition-duration(300ms);
                    @include transition-timing(ease-in-out)
                } 
                &#gh::before{content:"GitHub";}
                &#yt::before{content:"YouTube";}
                &#ln::before{content:"LinkedIn";}
                &#ig::before{content:"Instagram";}

                .logo{
                    font-size: 1.5rem;
                    color:$white;
                    position:absolute;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    transition: left 350ms ease;             
                }
            }
        }
    }
}