@import '../../variables';

h3{
    position:absolute;
    top: 4rem;
    left: 4rem;
    width: fit-content;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    &:hover{
        &::before{
            transform: translate3d(200%,0px,0px);
        }
        &::after{
            transform: translate3d(-200%,0px,0px);
        }
    }
    span{
        color: rgba(221,237,253,0.7);
    }
    &::before{
        content: '';
        position: absolute;
        top: -0.5rem;
        left: 0;
        height: 1px;
        width: 33%;
        background-color:$white;
        box-shadow: 0 1px 1px rgba(0,0,0,0.25);
        @include transition-properties(transform);
        @include transition-duration(500ms);
        @include transition-timing(ubic-bezier(0.9,0.34,0.29,1.08));
    }
    &::after{
        content: '';
        position: absolute;
        bottom: -0.5rem;
        right: 0.5rem;
        height: 1px;
        width: 33%;
        background-color:$white;
        box-shadow: 0 1px 1px rgba(0,0,0,0.25);
        @include transition-properties(transform);
        @include transition-duration(500ms);
        @include transition-timing(ubic-bezier(0.9,0.34,0.29,1.08));
    }
}