@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;500;700;800;900&family=Fira+Sans:wght@100;300;400;500;800;900&display=swap');

/* ========= Variables ========= */

$white: rgb(221,237,253);
$black: rgb(25,26,28);
$blue: rgb(61,165,199);
$lighter_blue: rgb(65, 177, 214);
$purple: rgb(150,57,209);//rgb(151,79,195);
$image-box-shadow: 15px 15px 10px rgba(0,0,0,0.25);
$primary-font: 'Arima Madurai';
$secondary-font: 'Fira Sans';

@mixin flex__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition_properties($props...) {
    $result: ();

    @for $i from 1 through length($props) {
      $prop: nth($props, $i);
      $result: append($result, $prop);

      @if $i != length($props) {
        $result: append($result, unquote($string: ","));
      }
    }

    transition-property: $result;
}

@mixin transition_duration($props...) {
    $result: ();

    @for $i from 1 through length($props) {
      $prop: nth($props, $i);
      $result: append($result, $prop);

      @if $i != length($props) {
        $result: append($result, unquote($string: ","));
      }
    }

    transition-duration: $result;
}

@mixin transition_timing($props...) {
    $result: ();

    @for $i from 1 through length($props) {
      $prop: nth($props, $i);
      $result: append($result, $prop);

      @if $i != length($props) {
        $result: append($result, unquote($string: ","));
      }
    }

    transition-timing-function: $result;
}
