@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;500;700;800;900&family=Courgette&family=Fira+Sans:wght@100;300;400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;500;700;800;900&family=Fira+Sans:wght@100;300;400;500;800;900&display=swap");
/* ========= Variables ========= */
/******** RESET STYLES ********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/******** GLOBAL STYLES ********/
.app {
  background-color: #191a1c;
  font-family: "Fira Sans", "regular";
  font-size: 16px;
  color: #ddedfd;
  width: 100vw;
  height: 10%;
}

h1, h2 {
  font-family: "Arima Madurai", "Regular";
  font-weight: 900;
}

h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 2px #191a1c;
  line-height: 6rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.header {
  color: #ddedfd;
  font-size: 3.25rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.sub__header {
  color: #ddedfd;
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-family: "Arima Madurai";
  margin-bottom: 0.75rem;
}

.divider__line {
  width: 100%;
  height: 1px;
  background: #9639d1;
  border: 0.5px solid #9639d1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.btn {
  position: relative;
  background: linear-gradient(45deg, #3da5c7 20%, #9639d1 80%);
  background-size: 100%;
  color: #ddedfd;
  font-size: 0.8rem;
  font-style: italic;
  letter-spacing: 0.15rem;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  z-index: 5;
  -webkit-transition-property: -webkit-transform , -webkit-box-shadow;
  transition-property: -webkit-transform , -webkit-box-shadow;
  transition-property: transform , box-shadow;
  transition-property: transform , box-shadow , -webkit-transform , -webkit-box-shadow;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background: linear-gradient(45deg, #3da5c7 20%, #9639d1 80%);
  opacity: 0;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -1;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.btn:hover {
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.btn:hover::before {
  opacity: 0.9;
}

.ripples {
  overflow: visible;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  to {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  to {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translate3d(-100%, 0px, 0px);
            transform: translate3d(-100%, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translate3d(-100%, 0px, 0px);
            transform: translate3d(-100%, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(-120%, 0px, 0px);
            transform: translate3d(-120%, 0px, 0px);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translate3d(100%, 0px, 0px);
            transform: translate3d(100%, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(-120%, 0px, 0px);
            transform: translate3d(-120%, 0px, 0px);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, 270deg);
            transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, 270deg);
            transform: rotate3d(0, 1, 0, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}
/*# sourceMappingURL=app.css.map */